.wrapper
  .side-bar
    .top
      %p.top__name
        = current_user.name
      %ul{class: "side-bar-icon"}
        = link_to new_group_path do
          %i{class: "far fa-edit edit-icon-color"}
        = link_to edit_user_path(current_user) do
          %i{class: "fas fa-cog cog-icon-color"}

    .bottom
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
